



.App {
  background-color: hsl(231, 20%, 85%);
  
}


/* Parte del Navbar inicio */

.header {
  box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.navbar {
  background-color: #ff9a3e !important;
}



/* Parte del Navbar Fin */

.carrusel-container {
  position: relative;
  z-index: 0;
  margin-top: 1% !important;
   box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.2);
}

.enjoy-css {
  padding-top: 3rem;
  padding-bottom: 2rem;

  font: normal normal bold 39px/1 'Lucida Sans Unicode', 'Lucida Grande',
    sans-serif;
  color: rgba(27, 101, 181, 0.86);

  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 2px;
  white-space: pre;
  word-spacing: 12px;
  text-shadow: 9px 8px 18px rgba(0, 0, 0, 0.5);
}

/* Acerca de Nosotros Inicio */
.texto {
  margin-left:8%;
  margin-right: 8%;
}

.texto2 {
  margin-left: 8%;
  margin-right: 8%;
  color: white;
}



.titulo {
  text-align: center;
}

.titulo3 {
  text-align: center;
  color: whitesmoke;
}

.titulo2 {
  margin-left: 8%;
}



.programador {
  background-image: url(../assets/images/program2.jpg) !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  filter: opacity(1) !important;
  filter: blur(10%) !important;
  



}


.imagenNosotros {
 margin-left: 45%;
}

/* Acerca de Nosotros Fin */


/* conteiner flexbox inicio */

.flexbox-container > div {
	width: 50%;
  background: #fff;
}
.flexbox-container {
	display: flex;
  margin-bottom: 5%;
  margin-top: 5%;
  
}
.flexbox-container > div:first-child {
}

.activas > img {
  height: 300px;
  width: 100%;
}

.activas-letras{
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.596) !important;
  box-shadow: 1px 1px 1px;
}

.activas-letras2 {
  color: white;
  font-weight: 600;
}


.activas-letras h1 {
  padding-top: 10px;
}

/* conteiner flexbox fin */