*{
  margin:0;
  
}

footer {
  width: 100%;
  
  bottom: 0; 
}

.App {
  
  
  
 
  
  font-family: 'Encode Sans Expanded', sans-serif;
}

.buttonClass {
  font-size:15px;
  font-family:Arial;
  width:100px;
  height:58px;
  border-width:3px;
  color:#fff;
  border-color:#1f2f47;
  border-top-left-radius:29px;
  border-top-right-radius:29px;
  border-bottom-left-radius:29px;
  border-bottom-right-radius:29px;
  box-shadow:inset 0px 0px 15px 3px #23395e;
  text-shadow:inset 0px 1px 0px #263666;
  background:linear-gradient(#2e466e, #415989);
}

.buttonClass:hover {
  background: linear-gradient(#415989, #2e466e);
}






/* Parte del Navbar inicio */

.navbar {
  background-color: #ff9a3e!important;
  
  
  
  
}




/* Parte del Navbar Fin */

.enjoy-css {
  
  padding-top: 3rem;
  padding-bottom: 2rem;
  
  
  
  
  
  
  font: normal normal bold 39px/1 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(27,101,181,0.86);
  
  
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 2px;
  white-space: pre;
  word-spacing: 12px;
  text-shadow: 9px 8px 18px rgba(0,0,0,0.5) ;
}

/* Acerca de Nosotros Inicio */
.texto {
  margin-left: 100px;
  margin-right: 200px;
  
}

.titulo {
  text-align: center;
}

.cajasnosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  margin-left: 100px;
  margin-right: 200px;
  

}

/* Acerca de Nosotros Fin */
