



.App {
  background-color: hsl(231, 20%, 85%);
  font-family: 'Noto Sans', sans-serif;
  
}

.buttonClass {
  font-size: 15px;
  font-family: Arial;
  width: 100px;
  height: 58px;
  border-width: 3px;
  color: #fff;
  border-top-left-radius: 20px!important;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px !important;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  text-shadow: inset 0px 1px 0px #9b3208 !important;
  background: linear-gradient(#ff5b0f, #804f22) !important;
  text-decoration: none !important;
}

.buttonClass:hover {
  background: linear-gradient(#b85a43, #1a1a19) !important;
}

/* Parte del Navbar inicio */

.header {
  box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.navbar {
  background-color: #ff9a3e !important;
}


/* Parte del Navbar Fin */

.carrusel-container {
  position: relative;
  z-index: 0;
}

.enjoy-css {
  padding-top: 3rem;
  padding-bottom: 2rem;

  font: normal normal bold 39px/1 'Lucida Sans Unicode', 'Lucida Grande',
    sans-serif;
  color: rgba(27, 101, 181, 0.86);

  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 2px;
  white-space: pre;
  word-spacing: 12px;
  text-shadow: 9px 8px 18px rgba(0, 0, 0, 0.5);
}

/* Acerca de Nosotros Inicio */
.texto {
  margin-left:8%;
  margin-right: 8%;
}

.texto2 {
  margin-left: 100px;
  margin-right: 200px;
  color: white;
}

.texto2 {
  margin-left: 100px;
  margin-right: 200px;
  color: white;
}

.titulo {
  text-align: center;
}

.titulo3 {
  text-align: center;
  color: whitesmoke;
}

.titulo2 {
  margin-left: 8%;
}


.programacion {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-bottom: 1%;
}



.imagenNosotros {
 margin-left: 45%;
}

/* Acerca de Nosotros Fin */
