
.card {
    box-sizing: border-box;
    margin-bottom:24px;
    box-shadow:  5px 5px 5px 5px rgba(68, 67, 67, 0.6) ;
    border: 1px solid black;
    border-radius: 5px;
    
    
}
 
.card:hover {
    box-shadow:  5px 10px 20px 1px rgba(247, 121, 4, 0.925) !important;
    transition: all 0.5s linear;
}

.card-body {
    padding: 2rem 0 !important
}

.card-text {
    padding: 0rem 1rem;
    font-size: 1rem;
    min-height: 5rem;
}

.overflow{
    overflow: hidden;
}

.card-img-top {
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.8);
}
      
  .loginbutton {
   
    padding-bottom: .5em;
    margin-right: .5em;
  }
  
  
  .profile-cont{
    display:grid,
    
  }