

.container-fluid {
    height: 90%;
    width: 100%;
  }




.carousel-item img {
    height: 60vh;
  min-height: 300px;

    
    
    background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    
    
}

.carousel-caption {
    position:absolute;
    left:0%;
    width: inherit;
    height: inherit;
    
}