

.logo-container {
    background-color: #ffa163;
    box-shadow: 1px 2px 5px 1px rgb(56, 56, 56, 1);
    border-top: 1px solid black;
  }
  
  .img-grid {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 50%;
  }
  
  .img-grid:hover {
    box-shadow: 1px 2px 5px 1px rgb(10, 5, 0);
    transition: all 0.5s linear;
  }
  
  .text-univer {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #95bdf8,
      0 0 70px #95bdf8, 0 0 80px #95bdf8, 0 0 100px #95bdf8, 0 0 150px #95bdf8;
  }
  
  .metric-block.theme-dark {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 5px 1px rgb(56, 56, 56, 1);
  }
  
  .cifer-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

.cifra{
  font-size: 50px;
  font-weight: 600;
}

.name{
  font-size: 20px;
  font-weight: 600;
}